@import '/src/styles/mixins.scss';

.chart-template {
  width: 37%;
  position: relative;
  & .bar-chart {
    margin-top: 20px;
  }
}

.chart-template-legend {
  gap: 10px;
  position: absolute;
  bottom: 10px;
  right: -100%;
  text-align: start;
  font-size: small;

  &__colors {
    display: flex;
    gap: 3px 30px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5px;

    & p {
      font-size: 12px !important;
    }
  }
  &-color {
    display: inline-block;
    height: 10px;
    width: 12px;
    border-radius: 4px;
    vertical-align: middle;
    margin-right: 5px;
    padding-bottom: 2px;
  }
}
.round-legend {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 131px;
  pointer-events: none;

  @include display(1400px) {
    height: 118px;
  }
  @include display(1250px) {
    height: 112px;
  }
  border: 1px solid black;

  .settelments-count-line {
    stroke: black;
    stroke-width: 2px;
  }
}

.template-settel {
  position: absolute;
  top: -1px;
  left: -1px;
  pointer-events: none;
  border-radius: 50%;
  border: 1px solid black;
  width: 131px;
  height: 131px;
  &_hover {
    box-shadow: inset 0px 0px 0px 16px rgba(98, 124, 168, 0.487);
  }
  @include display(1400px) {
    width: 118px;
    height: 118px;
  }
  @include display(1250px) {
    width: 112px;
    height: 112px;
  }

  &__space {
    white-space: pre;
    text-decoration: underline;
  }
  &__text {
    pointer-events: all;
    position: absolute;
    left: 90%;
    display: flex;
    top: 10px;
    &__desc {
      font-size: small;
      width: 100px;
    }
  }
  &__inside {
    position: absolute;
    top: -1px;
    left: -1px;
    pointer-events: none;
    border-radius: 50%;
    border: 1px solid black;
    width: 97px;
    height: 97px;
    top: 16px;
    left: 16px;
    &__hover {
      box-shadow: inset 0px 0px 0px 16px rgba(98, 124, 168, 0.487);
    }

    @include display(1400px) {
      top: 15px;
      left: 15px;
      width: 86px;
      height: 86px;
    }
    @include display(1250px) {
      width: 80px;
      height: 80px;
    }
    &__space {
      white-space: pre;
      text-decoration: underline;
    }
    &__text {
      pointer-events: all;
      position: absolute;
      bottom: -12px;
      left: 73%;
      display: flex;
      &__desc {
        font-size: small;
        width: 130px;
      }
    }
  }
}
