.chart-box {
  width: 19%;
  min-width: 150px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.178);
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  padding-top: 0;
  margin: 5px;

  .bar-chart{
//     height:200px;
  }
  .round-chart{
    position:relative;

    span {
      font-size: small;
    }

    .count-of-settel {
      position: absolute;
      top: 34%;
      left: 34%;
      width: 4em;
      text-align: center;
    }
  }
}
