.chart-box {
  width: 16%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.178);
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  padding-top: 0;
  margin: 5px;

  .region-title {
    display: flex;
    min-height: 3em;
    align-items: center;
    width: auto;
    justify-content: center;

    p {
      font-size: 14px;
    }
  }

  .bar-chart {
    height: 160px;
    position: relative;

    .bar-sizing {
      position: absolute;
      bottom: 14px;
      left: 54%;
      font-size: 12px;
    }
  }
  .round-chart {
    position: relative;

    span {
      font-size: small;
    }

    .count-of-settel {
      position: absolute;
      top: 37%;
      left: 29%;
      width: 4em;
      text-align: center;
    }
  }
}
