.menu-item {
  border-bottom: 1px solid #304654;
  list-style-type: none;
  transition: box-shadow 300ms;

  &__show-expand {
    box-shadow: inset 0 -5px 20px rgba(25, 25, 25, 0.642);
  }
  &__collaps {
    overflow: hidden;
    transition: max-height 400ms ease;
    max-height: 0;
  }
  &__expand {
    max-height: 200px !important;
  }
  &__arrow {
    height: 32px;
    width: 32px;
    transition: transform 200ms ease;
    &__revers {
      transform: rotate(180deg);
    }
  }
  &__name {
    display: flex;
    align-items: center;
    padding: 10px;
    &:not(.no-interactive):hover {
      cursor: pointer;
      background-color: rgba(65, 65, 65, 0.33);
    }
  }
  &__inside {
    padding: 5px;
    cursor: pointer;
    list-style-type: none;
    transition: all 200ms;
    padding: 10px 0;
    &:hover {
      background-color: rgba(65, 65, 65, 0.33);
    }
    &__select {
      background-color: rgba(38, 38, 38, 0.473);
    }
    &:last-child {
      margin-bottom: 10px;
    }
  }
}
.not-inside {
  text-align: center;
  display: block;
  border-bottom: 1px solid #304654;
}
