.emissions {
  margin-top: 20px;
  width: 50%;
  padding-right: 35px;
  border-right: 1px solid rgb(163, 163, 163);
  &-chart {
    width: 400px;
    height: 130px;
    &-2 {
      height: 60px;
      width: 100%;
      margin-left: 10px;

      &-DFO {
        height: 120px;
        margin-left: 0;
      }
    }
    &-DFO {
      height: 160px;
      margin-left: 25px;
      &-en {
        margin-left: 50px;
      }
    }
  }
  &-title {
    margin-bottom: 10px;
    font-size: 14px;
    height: 20px;
  }
}
