@use '/src/styles/mixins';

.main {
  flex-grow: 1;
  min-height: 100%;
  display: flex;
  padding: 0 16px;

  padding-bottom: 0;
  margin-left: 100px;
}

.main-content {
  background-color: white;
  margin: 0 auto;
  height: fit-content;
  padding: 10px;
  height: 100%;

  @include mixins.screenSize('md') {
    width: 1300px;
  }
}

.sections {
  display: flex;
  gap: 10px;
}

.section {
  &:first-child {
    width: 60%;
  }
  &:last-child {
    width: 40%;
  }
}

.emissions-section {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 0fr 1fr;
}

.emissions-devider {
  height: 100%;
  border: 0.5px solid rgb(163, 163, 163);
  border-radius: 10px;
}
