@use 'src/styles/colors';
@import 'src/styles/mixins';

.back-botttom {
  display: flex;
  align-items: center;
  margin: 14px;
  text-align: center;
  vertical-align: middle;
  align-self: center;
  display: flex;
  color: white;
  text-decoration: none;
}

.header-img {
  margin: 0 10px;
  width: 60px;
  align-self: center;
  display: block;
}
