@import '/src/styles/mixins.scss';

.main {
  margin: 0 auto;
  flex: 1 1 0;
  flex-basis: 0px;
  height: 100%;
  background-color: white;

  .main-content {
    display: flex;
    height: 100%;
    min-height: 100%;
    width: 1400px;

    @include display(1400px) {
      width: 1200px;
    }
    @include display(1250px) {
      width: 90%;
      margin: auto;
    }

    .title-wrapper {
      background-color: #365c74;
      color: white;
      margin-bottom: 10px;
      display: flex;

      .title {
        font-size: large;
        padding: 5px 20px;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        align-self: center;
      }
    }

    .main-wrapper {
      display: flex;

      .right-side {
        width: 40%;
        height: 500px;
      }

      .left-side {
        height: min-content;
        width: 900px;

        .charts-legends {
          display: flex;
          margin: auto;
          justify-content: center;
          gap: 10px;

          .legend-color {
            display: inline-block;
            height: 14px;
            width: 15px;
            border-radius: 5px;
            vertical-align: middle;
            margin-right: 5px;
            padding-bottom: 2px;
          }
        }

        .chart-wrapper {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }
      }
    }
  }
}
