.main {
  width: 95%;
  margin: 0 auto;
  flex: 1 1 0;
  flex-basis: 0px;
  height: 100%;

  .main-content {
    display: flex;
    height: 100%;
    min-height: 100%;

    .ring-decoding {
      width: 15%;
    }
    .left-side {
      height: min-content;
      width: 60%;

      .chart-wrapper {
        display: flex;
        flex-wrap: wrap;
        height: min-content;
        justify-content: center;
      }
    }

    .right-side {
      width: 40%;
      height: 50%;
    }
  }
}
