@use '/src/styles/colors.scss';

%boxRadius {
  border-radius: 8px;
}

.map-box {
  position: sticky;
  top: 20px;

  @extend %boxRadius;
}

.map {
  position: relative;
  height: 670px;
  width: 100%;
  box-shadow: colors.$baseShadow;

  @extend %boxRadius;
}

.custom-marker {
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  &:hover {
    box-shadow: 0px 0px 10px 10px blue;
  }
}

.legends {
  text-align: center;
  h4 {
    margin-bottom: 0;
  }
}
.legends-body {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
  p {
    display: flex;
    text-align: center;
    vertical-align: middle;
  }
  span {
    margin-top: 3px;
    margin-right: 6px;
    display: block;
    height: 15px;
    width: 16px;
    border-radius: 5px;
  }
}
