@use '/src/styles/colors.scss';

%boxRadius {
  border-radius: 8px;
}

.map-box {
  position: sticky;
  top: 20px;
  box-shadow: colors.$baseShadow;

  @extend %boxRadius;
}

.map {
  position: relative;
  height: 700px;
  width: 100%;

  @extend %boxRadius;
}

.custom-marker {
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  &:hover {
    box-shadow: 0px 0px 10px 10px blue;
  }
}
