@use '/src/styles/colors.scss';

.card {
  // padding: 5px 1px;
  border-radius: 0.5rem;
  box-shadow: colors.$baseShadow;
  display: flex;
  flex-direction: column;
}

.title {
  padding: 5px 2px;
  margin: auto 0px;
  font-size: 13px;
  font-weight: 400;
  justify-content: center;
  text-align: center;
}
