@use '/src/styles/variables' as variables;

.menu {
  background-color: #365c74;
  border: 1px solid #304654;
  border-top: none;
  border-bottom: none;
  width: 100px;
  max-height: 100vh;
  min-height: auto;
  color: variables.$contrastTextColor;
  position: sticky;
  top: 0;
  bottom: 0;
  z-index: 2;

  .menu-list {
    list-style-type: none;
  }
}
