@use '/src/styles/variables' as variables;

.menu {
  background-color: #365c74;
  border: 1px solid #304654;
  border-top: none;
  border-bottom: none;
  width: 120px;
  color: variables.$contrastTextColor;
  position: sticky;
  top: 0;
  bottom: 0;
  z-index: 2;

  .menu-list {
    list-style-type: none;
    width: 112px;
    position: fixed;
  }
}

.contakt-modal {
  line-height: 28px;
}
