@use '/src/styles/variables' as variables;

.selector {
  color: variables.$contrastTextColor;
  display: flex;
  margin: 10px;
  align-self: center;
  vertical-align: middle;

  .select-button {
    display: flex;
    align-items: center;
    width: fit-content;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    align-self: center;
    border-radius: 5px;
    cursor: pointer;
  }
  .select-button:hover {
    background-color: aliceblue;
  }
}
