.all-emissions {
  display: flex;
  height: 250px;
  width: 420px;
  &-2 {
    height: 75px;
  }
  &-title {
    margin-bottom: 10px;
    font-size: 14px;
    height: 40px;
  }
  &-wrapper {
    margin-top: 20px;
    width: 550px;
  }
}
